@import "tailwindcss";

:root {
  --primary: #173753;
  --secondary: #4b8f8c;
  --tertiary: #34c4bb;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

@media (max-width: 640px) {
  html,
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}
